@keyframes champ-loaded {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.champion {
    background: rgb(0, 9, 19);
    animation: champ-loaded 1s linear;
}

.champion__header {
    color: #fff;
    padding: 30px 0 75px;
}

.champion__container {
    max-width: 1215px;
    padding: 0 15px;
    margin: 0 auto;
}

.champion__name {
    text-transform: uppercase;
    font-style: italic;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-50%);
    position: relative;
    padding-right: 70px;
    padding-left: 40px;
}

.champion__details-header {
    grid-column: 1/-1;
    display: flex;
}

.champion__details-header::before,
.champion__details-header::after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(255,255,255, .3);
    display: block;
    top: 50%;
}


.champion__name-before {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    white-space: nowrap;
}
.champion__name-after {
    font-family: 'Beaufort-Bold', sans-serif;
    font-size: calc(61.82px + 3.03vw);
    letter-spacing: 0.03em;
    line-height: 0.85;
    white-space: nowrap;
}

.champion__splash-bg {
    position: absolute;
    min-height: 1000px;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(8px);
}

.champion__splash-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
}

.champion__splash-bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 9, 19);
    opacity: .7;
}

.champion__img-wrap,
.champion__splash-bg {
    mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}

.champion__img-wrap {
    padding-top: 59%;
    position: relative;
    overflow: hidden;
}

.champion__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.champion__details {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255, .3);
    border-top: none;
    min-height: 250px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateY(-110px);
}

.champion__details-block {
    padding: 60px;
    padding-top: 0;
    position: relative;
}

.champion__details-block.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.champion__details-block.left::after {
    content: '';
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    height: 60%;
    width: 1px;
}


.champion__content {
    padding-top: 75px;
}

.champion__list-btn {
    position: absolute;
    top: 100px;
    right: 30px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.16em;
    line-height: 1;
    text-align: left;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr min-content;
    align-items: center;
    border: 1px solid rgb(8, 215, 247);
    text-transform: uppercase;
    padding: 10px 20px;
    z-index: 2;   
}

.champion__list-btn:hover .champion__list-icon {
    fill: rgb(8, 215, 247);
}

.champion__list-btn:hover {
    color:  rgb(8, 215, 247);
    border-color: #fff;
}

.champion__list-icon {
    width: 14px;
    height: 14px;
    fill: #fff;
}


@media (max-width: 991.98px) {
    .champion__details {
        grid-template-columns: 100%;
    }
    .champion {
        padding-bottom: 100px;
    }
}

@media (max-width: 575.98px) {
    .champion__details-block.left {
        font-size: 10px;
    }
    .champion__details-block {
        padding: 15px;
    }
    .champion__name-after {
        font-size: calc(22.24px + 4.3vw);
    }
    .champion__name-before {
        font-size: 1rem;
    }
    .champion-role-icon-wrap {
        width: 30px;
        height: 40px;
    }
    .champion__name {
        padding: 0;
    }
    .champion__img-wrap {
        padding-top: 100%;
    }
    .champion__list-btn {
        grid-template-columns: 100%;
    }
    .champion__list-label {
        display: none;
    }

    .champion .track__btn {
        width: 50px;
        height: 50px;
    }
}