.close-button {
    width: 30px;
    height: 30px;
    padding: 0 7px;
}

@media (max-width: 767.98px) {
    .close-button {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1200px) {
    .tag-filter .close-button {
        display: none !important;
    }
}

