.champions__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.champions__header {
    padding: 70px 15px;
    text-align: center;
}

.champions__content-header {
    font-size: 0.9375rem;
    min-height: 50px;
    display: grid;
    grid-template-columns: minmax(170px, auto) 1fr minmax(200px, auto);
    box-shadow: 0 0 0 2px rgb(193, 193, 193);
    position: relative;
}

.champions__content-header::before,
.champions__content-header::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    z-index: 1;
    background: #fff;
}

.champions__content-header::before {
    border-right: 2px solid rgb(193, 193, 193);
    transform: rotate(45deg) translateX(-7px);
}

.champions__content-header::after {
    right: 0;
    bottom: 0;
    border-left: 2px solid rgb(193, 193, 193);
    transform: rotate(45deg) translateX(7px);
}


@media (max-width: 1199.98px) {
    .champions__content-header {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 575.98px) {
    .champions__container {
        margin-bottom: 50px;
    }
    .champion-cards {
        margin-top: 50px;
    }
    .champions__content-header {
        grid-template-columns: 100%;
        grid-auto-rows: 50px;
        grid-gap: 50px;
        box-shadow: none;
    }

    .champions__content-header > * {
        box-shadow: 0 0 0 2px rgb(193, 193, 193);
    }

    .champions__content-header::before, 
    .champions__content-header::after {
        display: none;
    }
}
