.footer-video {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.footer-video__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}